<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>
    {% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  {% seo %}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon-32.png" | relative_url }}"/>
  <link rel="icon" type="image/png" sizes="256x256" href="{{ "/assets/favicon-256.png" | relative_url }}"/>
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/apple-touch-icon.png" | relative_url }}"/>
  {% include bootstrap.html %}
  <link rel="stylesheet" href="{{ "/carousel.css" | relative_url }}"/>
</head>
